.container {
  background-color: white;
  margin: 10%;
  box-shadow: 6px 6px 6px grey;

}

.checkout {
  font-weight: bold;
  flex-grow: 1;
}

.upper {
  display: flex;
  border: .5px solid rgb(224, 222, 222);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0px;
  padding-left: 6px;
  align-items: center;
}

.lower {
  display: flex;

  border: .5px solid lightgrey;
  border-bottom: 0px;

  padding-left: 6px;
  align-items: center;
}

.path {
  flex-grow: 1;
}

ul.breadcrumb {

  list-style: none;
  background-color: white;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {

  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.icon {
  margin-right: 6px;
  background-color: black;
  color: white;
  padding: 1px 2px 2px 2px;
}

.paymentBlock {
  flex-grow: 1;
}

.cart {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  flex-grow: 1;
  background-color: lightgray;
}