.background {
  background-image: url("../images/background.jpg");
  display: flex;
}

.container {
  background-color: white;
  margin: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px gray;
}

.upper {
  display: flex;
  flex-direction: row;
  height: 51px;
  width: 100%;
  background-color: white;
  padding: 0px;
  align-items: center;
  border: .1px solid lightgray;
}

.checkout {
  font-weight: bold;
  flex-grow: 1;
  padding-left: 10px;
}

.path {
  flex-grow: 3;
}

.bold {
  font-weight: bold;
}

ul.path.breadcumb {
  background-color: white;
  padding: 1px 1px 1px 1px;
  display: flex;
  flex-wrap: wrap;
}
ul.breadcrumb {

  list-style: none;
  background-color: white;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {

  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.icon {
  margin-right: 6px;
  border: 1px gray;
  background-color: black;
  color: white;
}

.lower {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  border-top: 0px;
}

.lower--left {
  margin: .1%;
  flex: 3;
}

.lower--left--up {
  height: 45%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.Wallet {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 7%;
  padding-left: 10px;
  /* padding-top: 0%; */
  color: grey;
  border-bottom: 1px solid lightgray;
}

.NewCard {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 20%;
  padding-left: 10px;
  color: grey;
  border-bottom: 1px solid lightgray;

}

.lower--left--up--cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lower--left--up--cards--dis {
  height: 65%;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-grow: 1;
  padding-left: 16%;
  padding-top: 19%;
  padding-bottom: 0%;
}

.lower--left--up--cards--master {
  height: 65%;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-grow: 1;
  padding-left: 16%;
  padding-top: 19%;
  padding-bottom: 0%;
}

.lower--left--up--cards--visa {
  height: 65%;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-grow: 1;
  padding-left: 16%;
  padding-top: 19%;
  padding-bottom: 0%;
}

.cardStatement {
  padding-left: 16%;
  color: grey;
  font-size: x-small;
  text-align: center;
  display: flex;
  padding-bottom: 30%;
}

.lower--left--down {
  padding-left: 26%;
  padding-top: 7%;
}

input[type=text] {

  width: 60%;
  padding: 2% 2%;
  margin: 2% 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 2% 2%;
  margin: 1% 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lower--left--down>input:nth-child(5) {
  width: 30%;
}

.lower--left--down>input:nth-child(6) {
  width: 29%;
}

.lower--right {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid lightgrey;
  width: 100%;
  background-color: rgb(226, 224, 224);
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.lower--right--items {
  height: 15%;
  flex-direction: row;
  display: flex;
}

.lower--right--image {
  height: 56%;
  display: block;
  width: 66%;
  margin-top: 10%;
  margin-left: 5%;
  border: 5px solid rgb(190, 186, 186);
  margin-right: 0%;
}

.lower--right--quantity {
  color: black;
  margin-left: -16%;
  font-size: 15px;
  width: 137%;
}

.lower--right--prices {
  flex-direction: row;
  display: flex;
  padding-left: 11px;
  padding-right: 2%;
  justify-content: space-between;

}

.lower--right--total {
  border-top: 1px solid rgb(153, 151, 151);
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.lower--right--product {
  font-size: 100%;
  font-weight: bold;
  margin-top: 30%;
  margin-left: -14%;
  width: 300%;
}

.lower--right--itemColor {
  color: gray;
  font-size: 15px;
  margin-left: -16%;

}

.lower--right--price {
  font-weight: bold;
  padding-right: 2%;
}

.lower--right--details {
  padding-right: 27%;
  margin-right: 14%;
}

.lower--right--value {
  padding-top: 4%;
  padding-right: 2%;
}

.lower--right--total--price {

  font-size: 15px;
  color: black;
  margin-top: -5%;
  margin-left: 32%;
  width: 300%;
}

.lower--right--prices-subtotal {
  border-top: 1px solid grey;
  flex-direction: row;
  display: flex;
  padding-left: 11px;
  margin-right: 2%;
  justify-content: space-between;
  padding-top: 5%
}

@media screen and (max-width: 790px) {
  .lower {
      flex-direction: column-reverse;
  }
}

@media (max-width: 500px ){
  .lower--left--up--cards {
      flex-direction: column;
     
  }


  .lower--left--up--cards>div:nth-child(1)>img:nth-child(1) {
      height: 80%;
      display: block;
      width: 80%;
      padding: 2% 5% 8% 8%;
      flex-grow: 1;
  }

  .lower--left--up--cards>div:nth-child(2)>img:nth-child(1) {
      height: 80%;
      display: block;
      width: 80%;
      padding: 2% 5% 8% 8%;
      flex-grow: 1;
  }

  .lower--left--up--cards>div:nth-child(3)>img:nth-child(1) {
      height: 80%;
      display: block;
      width: 80%;
      padding: 2% 5% 8% 8%;
      flex-grow: 1;
  }
}
@media only screen and (max-width: 992px){
  .container{
      margin-left: 20px;
      margin-right: 20px;
  }
}


@media screen and (min-width: 768) and (max-width: 992){
  .lower--right{
      flex: 1;
  }
  .lower--left{
      flex: 1;
  }
}
@media (max-width:756px){
  ul.path.breadcrumb {
      display: none;
      visibility: hidden;
  }
}